@import url('globals.css');


header {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}


/* Scheduling Cards */

main {
  padding: var(--spacing-md) var(--spacing-lg);
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: var(--spacing-lg);
}


.card {
  background-color: white;
  padding: var(--spacing-lg);
  border-radius: var(--border-lg);
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
  height: 100%;
  min-height: 500px;
}


/* User Input */

select {
  margin-bottom: var(--spacing-md);
}

.user-input hr {
  margin-bottom: var(--spacing-md);
}

#time-quantum {
  width: 50%;
  text-align: left;
  border: var(--border-sm) solid #7b7b7b;
  border-radius: var(--border-lg);
  padding: var(--spacing-xs) var(--spacing-sm);
  padding-left: var(--spacing-md);
  background-color: white;
  color: var(--color-primary);
}

#input-table {
  margin-bottom: var(--spacing-sm);
}

.action-btns {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

.action-btns button {
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--border-xl);
  border: var(--border-xs) solid var(--color-primary);
  background-color: white;
  color: var(--color-primary);
}

.action-btns button:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn-grp {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: center;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-xl);
}

.btn-grp #clear-btn {
  border: var(--border-xs) solid var(--color-primary);
  background-color: white;
  color: var(--color-primary);
}


/* Scheduling Table Styles */

.sched-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: var(--border-md) solid var(--color-primary);
  text-align: center;
}

.sched-table thead {
  border-bottom: var(--color-primary) solid;
  border-width: var(--border-md);
  font-weight: bold;
  font-style: italic;
}

.sched-table td,
.sched-table th {
  border: var(--border-xs) solid var(--color-primary);
  border-right: var(--border-sm) solid;
}

/* Results Section */

.subtitle-section {
  margin-bottom: var(--spacing-lg);
  border-bottom: var(--border-xs) solid #7b7b7b;
  padding-bottom: var(--spacing-sm);
}

.subtitle-section h3 {
  font-weight: normal;
  font-style: italic;
}

.subtitle-section h2 {
  font-size: 1.75rem;
  font-weight: bolder;
}


/* Results Scheduling Table */

h4 {
  font-weight: bold;
}

#result-table {
  border: none;
}

#result-table td,
#result-table th {
  border: var(--border-xs) solid var(--color-primary);
  border-right: var(--border-sm) solid;
  border-bottom: var(--border-sm) solid;
  padding: var(--spacing-xs) 0;
}

#result-table th {
  padding: 0 var(--spacing-xs);
}

#result-table td:first-child {
  border-left: var(--border-md) solid var(--color-primary);
}

#result-table th:last-child,
#result-table td:last-child {
  border-right: var(--border-md) solid var(--color-primary);
}

#result-table thead {
  border: var(--border-md) solid var(--color-primary);
}

#result-table tbody tr:last-child {
  border-top: var(--border-md) solid var(--color-primary);
}

#result-table tr:last-child td:first-child {
  border: none;
}

#result-table tr:last-child td:last-child {
  border-right: var(--border-md) solid var(--color-primary);
  border-bottom: var(--border-md) solid var(--color-primary);
}

#result-table tr:last-child td:nth-last-child(2) {
  border-left: var(--border-md) solid var(--color-primary);
  border-bottom: var(--border-md) solid var(--color-primary);
}

#metrics td:first-child {
  font-style: italic;
  text-align: right;
  padding-right: var(--spacing-sm);
}


/* Gantt Chart Section */

#gantt-bar-container {
  display: flex;
  width: 100%;
  height: 50px;
  border: var(--border-md) solid var(--color-primary);
  overflow: hidden;
}

.gantt-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  border-right: var(--border-sm) solid var(--color-primary);
  color: var(--color-bg);
  flex: 1 1 0%;
}

#gantt-timeline {
  display: flex;
  width: 100%;
  font-size: 0.75rem;
  margin-top: 5px;
  position: relative;
}

.sim-grp {
  font-size: 0.75rem;
  padding: var(--spacing-sm) var(--spacing-md);
  display: flex;
  justify-content: flex-end;
}